/* SBOM-Demo css.css version 2.6 */
#load_example {
    padding: 1px;
    height: auto;
}
.full_modal-dialog {
    width: 98% !important;
    height: 92% !important;
    min-width: 98% !important;
    min-height: 92% !important;
    max-width: 98% !important;
    max-height: 92% !important;
    padding: 0 !important;
}

.full_modal-content {
    height: 99% !important;
    min-height: 99% !important;
    max-height: 99% !important;
}
.not_required {
    border: 2px dashed lightgrey;
}
.circletext {
    color: black;
    border: 2px solid black;
    padding: 2px 5px 2px 8px;
    border-radius: 12px;
}
a.circletext.spdx-lite {
    padding: 2px 8px 2px 8px;
}
.blackbody .circletext {
    color: white;
    border: 2px solid white;
    padding: 2px 5px 2px 8px;
    border-radius: 12px;
}
.blackbody .circletext:hover {
    color: #bebebe;
}
.circletext:hover {
    text-decoration: none;
    color: #222;
}
.swal-title:not(:last-child) {
    margin-bottom: 2px;
}
.swal-title:first-child {
    margin-top: 2px;
}
.cert-tweet {
    width: 48px;
    position: fixed;
    top: 6px;
    left: 6px;
}
.tright {
    right:6px;
    top: 6px;
    position:fixed;
}
.octicon-mark-github {
    width: 24px;
    padding-bottom: 6px;
    padding-left: 2px;
}
.mauto {
    width: auto;
    display:inline;
}
.blackbody {
    background-color: #222;
    color: white;
}
.blackbody table {
    background-color: #222;
    color: white;
}
.blackbody img {
    filter: invert(0.87);
}
.blackbody #main_table svg {
    filter: invert(1);
}
.blackbody text {
    fill: white;
}
.blackbody .text-secondary {
    color: #ffffe0 !important;
}
	       
.blackbody input, .blackbody select, .blackbody textarea {
    background-color: #333 !important;
    color: white !important;
}
.blackbody .coverpage, .blackbody pre {
    background: rgba(3,3,3,0.9);
    color: white;
}
.blackbody .dldr {
    color: #dddddd;
}
.blackbody .modal-content {
    background-color: #222;
    color: white;
}
.blackbody .close {
    color: white;
}
.dldr {
    color:#222;
}
.vul_template {
    border: 1px solid grey;
    padding: 2px;
    border-radius: 4px;
}
.cvss_score {
    display:inline;
    width: 14ch;
}
#main_table td:first-child,
.pcmp_table td:first-child,
.cmp_table td:first-child {
    width: 40%;
    max-width:40%;
}
#mpopup {
    display: none;
    position: absolute;
    z-index: 200;
    background: rgba(70, 130, 180, 0.4);
    border-radius: 5px;
    padding: 4px;
    max-width:200px;
}
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
html, body {
    height: 100%;
}

#swidtext, #cyclonedxtext {
    width: 100%;
    height: 100%;
    min-height: 500px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.scontent {
    display:none;
    height:100%;
}
::placeholder { 
    font-weight: 400;
}

:-ms-input-placeholder { 
    font-weight: 400;
}

::-ms-input-placeholder { 
    font-weight: 400;
}
.cmp_template,.spdx,.swid { display:none; }
.coverpage {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    padding: 6%;
    position: fixed;
    z-index: 120;
    display: none;
    font-size: 2em;
    overflow: scroll;
}
.form-control { font-weight: 800; }
pre {
    white-space: pre-line;
    font-size: 14px;
    border: 2px solid grey;
}
#spdx,#swid,#cyclonedx {
    display:none;
}
.blackbody .rct {
    stroke: white;
}
.rct {
    stroke: #222;
    stroke-opacity: 0.5;
    stroke-width: 4;
    stroke-dasharray: 10 5;
}
.rctb {
    stroke-width: 2;
    stroke-dasharray: none;
}
.rtext {
    text-decoration: underline;
    font-size: 24px;
}
.final_product {
    fill: rgba(33,0,33,0.3);
}
.final_product_title {
    fill: rgba(148,2,211,0.2); 
}
.cpart {
    fill: rgba(12,0,33,0.3);
}
.cpart_title {
    fill: rgba(148,2,211,0.4); 
}
.part {
    fill: rgba(30,12,255,0.3);
}
.part_title {
    fill: rgba(148,2,211,0.2); 
}
